@charset "UTF-8";
/* reset */
body, h1, h2, h3, h4, h5, h6, p, address,
ul, ol, li, dl, dt, dd, img, form, table, tr, th, td {
	margin: 0;
	padding: 0;
	border: none;
	font-style: normal;
	font-weight: normal;
	font-size: 100%;
	text-align: left;
	list-style-type: none;
	border-collapse: collapse;
}

textarea { font-size: 100%; vertical-align:middle;}
img { border-style: none; display: block; }
hr { display: none; }
em{font-style: normal}
input{line-height:auto;vertical-align:middle;}
strong.more{color:#c30}
a{text-decoration: none;}

/* html {

} */

body {
	font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

/* 上の部分は気にせずここから書く */
header {
	background-color: #f5f5f5;
	width: 100%;
	height: 120px;
  position: fixed;
	z-index: 2;
	display: flex;
	align-items: center;
	opacity: 0;
	transition: 1s;
	transition-delay: 1s;
}

.fadein-build {
  transform: translate(0, -50px);
}


.top header .wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header nav ul {
	display: flex;
	justify-content: flex-end;
}

header nav li {
	padding-right: 20px;
}

.wrap {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	padding: 0 40px;
}

.link {
	color: #000000de;
	cursor: pointer;
}


.img-wrap {
	width: 100%;
	height: 100vh;
	position: relative;
}
.img-wrap img {
	width: 100%;
	height: 100vh;
	object-fit: cover;
	position: absolute;
}

.top p {
	font-size: 32px;
	color: white;
	padding: 40px;
	font-weight: bold;
	position: absolute;
	bottom: 0;
  left: 0;
	transition: 1s;
}

.top p strong {
color: #fce244;
}

.service {
	padding: 100px 0;
}

h1{
	font-size: 32px;
	font-weight: bold;
	margin-top: 30px;
	margin-bottom: 56px;
	text-align: center;
}

h1 span {
  border-top: 2px solid #2da690;
	padding: 20px;
	text-align: center; 
}

.service li {
	height: 25vw;
	min-height: 340px;
	margin-bottom: 56px;
	display: flex;
	align-items: center;
}

.service li img {
	object-fit: cover;
  width: 50%;
  height: 25vw;
}

.service li a {
	position: relative;
	width: 50%;
	max-width: 675px;
	height: 340px;
	padding: 40px;
	background-color: white;
	transition-delay: 0.38s;
}

.service-item-first a img {
  width: auto;
  height: 30%;
}

.fadein-scroll {
	opacity: 0;
	transition: all 1s;
}

.catch {
	font-size: 32px;
	font-weight: bold;
	color: black;
  margin-bottom: 20px;
}

.sub {
  color: #0000008a
}

.service .fa-arrow-up-right-from-square {
	display: block;
  margin-top: 20px;
  opacity: 0.2;
}

.fa-circle-right::before{
	content:"\f0a9";
	color: #2da690;
}

.fa-arrow-right{
	content:"f061";
	color: #2da690;
	margin-left: 5px;
}

.fa-arrow-up-right-from-square {
	font-size: 1.2em;
	content: "f08e";
	color: #2da690;
	margin-left: 5px;
}

.fadein-destroy {
	transform: translate(0, 50px);
}

.service-item-first a, .service-item- a {
	left: -5vw;
}

.service-item-second {
	flex-direction: row-reverse;
}

.service-item-second a img {
	width: auto;
	height: 30%;
	padding: 5%;
}

.service-item-second a {
	right: -5vw;
}

.service-item-third a img {
  width: auto;
	height: 30%;
}

.service-item-third a {
	left: -5vw;
}

.fadein-bust01 {
	opacity: 0.9;
	transform: translate(0, 0);
}

.fadein-bust02 {
	opacity: 1;
	transform: translate(0, 0);
}

.other {
	color: black;
	display: block;
	text-align: right;
	font-weight: bold;
}

.fadein-left {
	transform: translate(-50px, 0);
}

.vision {
	background-image: url(image/bg01.jpg);
	object-fit: cover;
	height: 650px;
	padding: 100px 0;
}

.vision h2 {
	display: block;
	text-align: center;
	font-size: 42px;
	margin: 54px 0;
	transition-delay: 0.5s
}

.vision ul {
	display: flex;
	justify-content: center;
}

.vision ul li {
	padding: 0 30px;
	border-right: 1px solid gainsboro;
}

.vision ul li .catch {
	font-size: 2rem;
	color: #2da690;
	font-weight: bold;
	text-align: center;
	margin-bottom: 24px;
}

.vision ul li .sub {
	font-size: 1em;
	text-align: center;
}

.news li {
	display: flex;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.news li img {
	width: 150px;
	height: 80px;
	object-fit: cover;
}

.news-meta time {
	font-size: 0.8em;
	margin: 0 20px;
	color: gainsboro;
}

.news-meta a {
	font-size: 0.8em;
	font-weight: 700;
	margin-right: 10px;
}

.news-title {
	margin: 10px 10px 10px 20px;
	color: #000000ba;
}